
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

.layout {
    display: flex;
}

.sidebar {
    width: 220px;
    background-color: #2c3e50;
    color: white;
    min-height: 100vh; /* makes sidebar full height */
    padding: 20px;
}

.sidebar h2 {
    margin-bottom: 30px;
}

.sidebar nav a {
    display: block;      /* makes the sidebar and main content sit side by side */
    color: white;
    text-decoration: none;
    padding: 10px 0;
    transition: background 0.2s; /* wiorks with hover transiton */
}

.sidebar nav a:hover {
    background-color: #1a2b3c;
    padding-left: 10px;
}

.main-content {
    flex: 1;
    padding: 40px;
    min-height: 100vh; 
    background-color: #f0f0f0;
}